<div class="container">
  <div class="row col-xs-6">

    <% if pic.errors.any? %>
      <ul>
        <% pic.errors.full_messages.each do |messages| %>
        <li><%= messages %></li>
        <% end %>
      </ul>
    <% end %>
    <!-- 進入new會直接顯示訊息 -->

    <!-- 在外層加了form標籤，無法傳送資料？ -->
      <%= form_for pic do |f| %>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :descriotion %>
          <%= f.text_area :description, class: 'form-control description' %>
        </div>

        <div class="form-group">
          <%= f.submit class: 'btn btn-primary' %>
          <%= f.button 'Cancel', type: :reset, class: 'btn btn-default' %>
        </div>
      <% end %>
    

  </div>
</div>
